.btn {
	border-radius: 4px;
	height: 40px;
	color: $white;
	background: $pagination-grey;
	&__outline {
		background: $white;
		color: $blue;
		border: 1px solid $blue;
	}
	&__save {
		background: $green;
		border: 1px solid inherit;
		&:hover {
			background: $white;
			color: $green;
			border-color: $green;
		}
	}
	&__primary {
		color: $white;
    background: $blue;
    &--main {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      background: $white;
      color: $atlas-blue;
      font-size: 14px;
    }
		&:hover {
			background: $white;
			color: lighten($atlas-blue, 10%);
			path {
				fill: lighten($atlas-blue, 10%);
			}
		}
	}
	&--md {
		width: 150px;
	}
	&__wide {
		width: 100%;
	}
	&__group {
		padding: 8px;
		border: 1px solid $card-grey;
	}
	&__sm {
		border-radius: 3px;
		width: 32px;
		height: 30px;
		padding: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background: $grey-light;
		}
	}
	&__filter {
		display: flex;
		padding: 10px 15px;
		background: $white;
		margin-right: 20px;
		height: 40px;
		border-radius: 4px;
		&__icon {
			display: flex;
		}
		&__menu {
			&.dropdown-menu {
				&:before {
					content: '';
					top: -9px;
				    right: 50%;
				    background-color: red;
				    transform: rotate(45deg);
					border: 1px solid rgba(0,0,0,.15);
					border-bottom: 0;
					border-right: 0;
					display: block;
					height: 15px;
					width: 15px;
					background: $white;
					position: absolute;
				}
			}
		}
		&:after {
			display: none;
		}
	}
}

.btn-group {
	.btn {
		margin: 0 2px;
	}
}
