.modal {
	&-content {
		max-width: 727px;
		margin: 0 auto;
		border: 0;
	}
	&__header {
		background: $blue-dark;
		color: $white;
		padding-left: 70px;
		span {
			color: $white;
		}
		button {
			&:hover {
				color: $white;
			}
		}
	}
	&__footer {
		padding-left: 70px;
		padding-right: 70px;
		border-top: 0;
		padding-top: 0px;
		padding-bottom: 50px;
		.btn {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
	&__form {
		.form-group {
			position: relative;
		}
		.form-control {
			height: 50px;
			&::placeholder {
				font-size: 14px;
				line-height: 16px;
				font-weight: bold;
				color: $grey;
			}
		}
		&__icon {
			position: absolute;
			top: 55%;
			right: 20px;
			display: flex;
		}
		input {

		}
	}
	&-title {
		font-weight: bold;
		font-size: 24px;
	}
	&__body {
		padding: 25px 70px;
	}
	&__label {
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 10px;
		font-size: 16px!important;
		margin-bottom: 0;
	}
}
