//colors
$white: #fff;
$grey-bg: #F4F8F9;
$grey: #bdbdbd;
$grey-font: #4f4f4f;
$grey-light: #e5e5e5;
$grey-lighter:#F4F8F9;
$grey-dark: #828282;
$panel-grey: $grey-dark;
$card-grey: #F0F0F0;
$blue: #27A9F8;
$blue-light: #7ADCF4;
$blue-dark: #034D79;
$green: #00A65A;
$orange: #FB8A23;
$red: #DD4B39;
$yellow: #f2c94c;
$icon-blue: #90A4AE;
$pagination-grey: #c4c4c4;
$contact-grey: #E8F4F9;
$black-light: #333333;
$atlas-blue: #08132e;
//message
$message-grey: #f9f9f9;

$font-family: 'AvenirNextLTPro-Regular';

// Responsiveness sizes
$mobile: "screen and (max-width: 640px)";
$tablet-max: "screen and (max-width: 980px)";
$tablet: "(min-width: 640px) and (max-width: 980px)";
$desktop: "screen and (min-width: 1120px)";

$base-font-size: 16px;